# This file contains common pin mappings for the BIGTREETECH Manta M8P V2.0
# To use this config, the firmware should be compiled for the
# STM32H723 with a "128KiB bootloader" "25 MHz crystal"
# and "USB (on PA11/PA12)", "CAN bus (on PD0/PD1)" or Serial (on USART1 PA10/PA9).

# See docs/Config_Reference.md for a description of parameters.
[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32h723xx_4B0020000951313339373836-if00

[homing_override]
axes: x, y, z
gcode:
    {% if "Z" in params %}
        G28 Z
    {% elif "X" in params %}
        G28 X
    {% elif "Y" in params %}
        G28 Y
    {% else %}
        # Default full homing order
        G28 Z
        G28 X
        G28 Y
    {% endif %}
    # Optional: Move to safe position after any homing operation
    G1 X150 Y150 Z0 F6000
    
# Motor1
[stepper_x]
step_pin: PE6
dir_pin: !PE5
enable_pin: !PC14
microsteps: 2
rotation_distance: 40
endstop_pin: ^PF4
position_endstop: 0
position_max: 340
homing_speed: 100
homing_retract_dist: 0

## Motor1
[tmc2209 stepper_x]
uart_pin: PC13
run_current: 0.800
stealthchop_threshold: 0
driver_SGTHRS: 127

# Motor2#5998cb
[stepper_y]
step_pin: PE2
dir_pin: !PE1
enable_pin: !PE4
microsteps: 2
rotation_distance: 40
endstop_pin: ^PF3
position_endstop: 0
position_max: 358
homing_speed: 100
homing_retract_dist: 0

## Motor2
[tmc2209 stepper_y]
uart_pin: PE3
run_current: 0.800
stealthchop_threshold: 0

#  Z0 Stepper - front left on Motor4
[stepper_z]
step_pin: PB4
dir_pin: PB3
enable_pin: !PB6
microsteps: 16
rotation_distance: 8
endstop_pin: ^!PF2
position_endstop: 0
position_max: 200
position_min: -5.0
homing_speed: 8
second_homing_speed: 3
homing_retract_dist: 3

## Motor4
[tmc2209 stepper_z]
uart_pin: PB5
run_current: 0.650
stealthchop_threshold: 0

##	Z1 Stepper - Front Right on Motor5
[stepper_z1]
step_pin: PG13
dir_pin: !PG12
enable_pin: !PG15
endstop_pin: ^!PF1
microsteps: 16
rotation_distance: 8

## Motor5
[tmc2209 stepper_z1]
uart_pin: PG14
run_current: 0.650
stealthchop_threshold: 0

##	Z2 Stepper - Rear Right on Motor6
[stepper_z2]
step_pin: PG9
dir_pin: PD7
enable_pin: !PG11
endstop_pin: ^!PF0
microsteps: 16
rotation_distance: 8

## Motor6
[tmc2209 stepper_z2]
uart_pin: PG10
run_current: 0.650
stealthchop_threshold: 0

##	Z3 Stepper - Rear Left on Motor7
[stepper_z3]
step_pin: PD4
dir_pin: !PD3
enable_pin: !PD6
endstop_pin: ^!PC15
microsteps: 16
rotation_distance: 8

## Motor7
[tmc2209 stepper_z3]
uart_pin: PD5
run_current: 0.650
stealthchop_threshold: 0

[manual_stepper pipette_stepper]
step_pin: PC7
dir_pin: !PC8
enable_pin: !PD2
endstop_pin: ^!PB10
microsteps: 16
rotation_distance: 8

[tmc2209 manual_stepper pipette_stepper]
uart_pin: PC6
interpolate: false
run_current: 0.650
stealthchop_threshold: 0

[servo pipette_servo]
pin: PE9
maximum_servo_angle: 180
minimum_pulse_width: 0.0005  # 0.5 ms
maximum_pulse_width: 0.0025  # 2.5 ms

[force_move]
enable_force_move: False
#   Set to true to enable FORCE_MOVE and SET_KINEMATIC_POSITION
#   extended G-Code commands. The default is false.

[printer]
kinematics: corexy
max_velocity: 300
max_accel: 3000
max_z_velocity: 300
max_z_accel: 3000

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PE7, EXP1_2=PG1,
    EXP1_3=PG0, EXP1_4=PF15,
    EXP1_5=PF14, EXP1_6=PF13,    # Slot in the socket on this side
    EXP1_7=PF12, EXP1_8=PF11,
    EXP1_9=<GND>, EXP1_10=<5V>,

    # EXP2 header
    EXP2_1=PE13, EXP2_2=PE12,
    EXP2_3=PE15, EXP2_4=PE11,
    EXP2_5=PE10, EXP2_6=PE14,      # Slot in the socket on this side
    EXP2_7=PE8, EXP2_8=<RST>,
    EXP2_9=<GND>, EXP2_10=<NC>
